In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
#Read File 
df = pd.read_csv("Credit.csv", index_col=0)

In [3]:
#Label Encoder
#Encoder the categorical variabel 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
var = ["Gender","Student","Married","Ethnicity"]
f = lambda x : le.fit_transform(x)
df[var] = df[var].apply(f)
df.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,0,0,1,2,333
2,106.025,6645,483,3,82,15,1,1,1,1,903
3,104.593,7075,514,4,71,11,0,0,0,1,580
4,148.924,9504,681,3,36,11,1,0,0,1,964
5,55.882,4897,357,2,68,16,0,0,1,2,331

In [4]:
active_credit_df = df.loc[df.Balance>0,].copy()
active_credit_df.Balance.describe()

count     310.000000
mean      670.987097
std       413.904019
min         5.000000
25%       338.000000
50%       637.500000
75%       960.750000
max      1999.000000
Name: Balance, dtype: float64

In [7]:
#Chane More input varience
#X_train = data_train[["Income","Limit","Rating","Cards","Age","Education","Student","Married","Ethnicity","Gender"]]
X_train = active_credit_df[["Income","Rating","Cards","Age","Education","Student","Married","Ethnicity","Gender"]]

In [17]:
X_train.shape

(310, 9)

In [8]:
y_train = active_credit_df.pop("Balance")

In [16]:
#Split Data train_test for training and testing model
y_train.shape

(310,)

In [25]:
#====================Prepare Training Set and Testing Set=====================
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X_train, y_train, test_size = 0.2, random_state=42)

In [26]:
from sklearn.linear_model import LinearRegression
modeLR = LinearRegression(normalize=True, fit_intercept=True)
modeLR.fit(Xtrain,ytrain)

LinearRegression(normalize=True)

In [28]:
modeLR.score(Xtest, ytest)

0.9856799311059172

In [31]:
#X_train_sm = sm.add_constant(_train)
#x_test = sm.add_constant(X_test)
from sklearn.neighbors import KNeighborsRegressor
reg = KNeighborsRegressor(n_neighbors=3)
reg.fit(Xtrain, ytrain)

KNeighborsRegressor(n_neighbors=3)

In [32]:
reg.score(Xtest, ytest)

0.7107704860231561